*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif;
}
/*font-family: 'Lato', sans-serif;*/
.header {
	background-color: #333;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 960px;
}
.wrapper {
	max-width: 1060px;
	margin:0 auto;
}
.header_wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 55px 0 200px;
}

.header_logo {
}
.header_logo_link {
}
.header_logo_link_img {
}

.header_nav {
	display: flex;
	max-width: 490px;

}
.header_list {
	margin-left: 80px;
}
.header_list:first-child{
	margin-left: 0;
}
.header_items {
	list-style-type:none;
}

.header_items_link {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}
/*H E A D E R  L I N K*/
.header_title {
	max-width: 620px;
	
}
.header_title_text {
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 20px;
	color: #fff;
}
.header_title_about{
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	max-width: 545px;
	margin-bottom: 60px;
}
.search_form {
}
.form input{
	outline: none;
}
.input_search{
	width: 300px;
	height: 50px;
	background-color: transparent;
	background-image: url(../img/icon/Oval.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
	border: 0;
	border-bottom: 2px solid #BFC0C5;
	margin-right: 60px;
	padding-left: 40px;
	color:#fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.input_search::placeholder{
	color:#fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.input_search:active{
	
}
.search_button {
	padding:15px 40px;
	background: #1B7DFF;
	color: #fff;
	border: 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	transition: all 0.3s;
}
.search_button:hover, .search_button:active, .search_button:focus{
	background:#1c62c0;
	cursor: pointer;	
}
/*B E N E F I T S _ S T A R T*/

.benefits {
	margin-bottom: 130px;
}
.benefits_wrapp {
	max-width: 1262px;
	background-color: #fff;
	margin:0 auto;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	position: relative;
}
.benefits_title {
	width: 100%;
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	padding: 93px 100px 88px 100px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background-color: #fff;
	z-index: 9;
}
.benefits_cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	grid-column-gap: 55px;
	padding: 0 100px;
	flex-wrap: wrap;
	padding-bottom: 112px;
}
.benefits_card {
	grid-column: span 1;
}
.benefits_card_ico {
	margin-bottom: 37px;
}
.benefits_card_title {
	margin-bottom: 26px;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.benefits_card_about {
	margin-bottom: 39px;
	font-size: 16px;
	line-height: 24px;
}
.benfits_card_learn {
	display: inline-block;
	padding-right: 50px;
	font-size: 16px;
	line-height: 24px;
	color: #006DFE;
	text-decoration: none;
	background: url(../img/icon/Shape.svg) no-repeat 95% center;
	transition: all 0.3s;
}
.benfits_card_learn:hover{
	background: url(../img/icon/Shape.svg) no-repeat right center;
}

/*C o n t e n t _ S t a r t*/
.content {
}
.content_about{
	max-width: 1264px;
	margin: 0 auto;
}
.content_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content_header_title {
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	color: #102746;
}
.content_header_title::after{
	display: block;
	content: "";
	width: 253px;
	height: 3px;
	background-color: #006dfe;
	margin: 7px 0 36px;
}
.content_header_link {
	font-size: 16px;
	line-height: 24px;
	text-align: right;
	color: #006DFE;
	text-decoration: none;
	background:url(../img/icon/Shape.svg) no-repeat right center;
	padding-right: 59px;
}
.content_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content_main_pic:first-child {
	margin-bottom: 7px;
}
.conten_main_pic_item {
}
